/* Pogo */
div#app > aside > aside.zmgad-full-width.mt-4 { min-height: 90px; }
iframe[data-testid="amzn-nca-ad"] { position: absolute; top: 0; left: 0; }
#pogo-quickslider { position: absolute; }
[data-autopogo], [data-autopogo] * { content-visibility: visible !important; }
[data-autopogo] .twitter-tweet { min-height: 600px; }
body.pgDsbld .zmgad-full-width, body.pgDsbld div[data-pogo], body.pgDsbld .zmgad-right-rail { display: none !important; }
ins.zmgad-full-width, div.zmgad-full-width, div.pgconversation, div.pgpitc { display: flex; align-items: center; justify-content: center; flex-direction: column; }
ins.zmgad-full-width:has(.ziff-component) { display: block; text-align: unset; }
.zmgad-full-width > p, .zmgad-right-rail > p { display: block !important; }
div[data-pogo="incontent"] { display: flex; flex-direction: column; justify-items: center; align-content: center; align-items: center; }
ins.zmgad-full-width div[data-pogo="incontent"]:before { content:"ADVERTISEMENT"; font-family: benton-sans,Arial,sans-serif; font-size: 0.75rem;; display: block; text-decoration: underline; color:rgb(115,115,115); border: 0px; margin-bottom: 10px; }
div[data-pogo="incontent"].hasPogoNative:before { content: "" !important; display: none !important; }
div[data-pogo].noAdvLabel:before, div[data-pogo].noAdvLabel a.text:before { content: "" !important; display: none !important; }
div[data-pogo="incontent"].pgIntscrl:before { position: relative; top: -25px; }

div[data-pogo] iframe { margin-left: auto; margin-right: auto; }
div[data-pogo="main"], div[data-pogo="incontent"], div[data-pogo="top"], div[data-pogo="sidebar"], div[data-pogo="footer"], div[data-pogo="comments"]  { min-height: 250px; }

div.pgconversation, div.pgpitc { margin: 1rem auto; }
div[data-pogo="comments"] { display: flex; justify-items: center; align-content: center; align-items: center; }
/*div.content-lift .text { font-stretch: ultra-condensed; }*/
div.content-lift .text .title { font-weight: 640; font-stretch: ultra-condensed; }
div.pogoPSWPR { width: 100vw !important; }
.container div.pogoPSWPR { margin-left: -1.5rem; }


.zmgad-full-width:has(.pogoPSWPR) { max-width: 100%; }
div[id^="video-container"] { aspect-ratio: 16/9; }
nav.z-top { z-index: 21474; }

body .bxc.bx-base.bx-type-conversioncorner .bx-slab { display: none; }

@media (max-width: 767px) {
  body:has(#pogo-adhesion.open) .pbs[data-pbs-position="sticky"] .pbs__player,
  body:has(#pogo-adhesion.open) .pbs[data-pbs-position="bottom-misty"] .pbs__player,
  { position: relative !important; z-index: 12345678 !important; }
}

@media (min-width: 768px) {
  div[data-pogo="main"], div[data-pogo="incontent"], div[data-pogo="top"]  { min-height: 90px; }
  [data-autopogo] blockquote.twitter-tweet { min-height: 550px; }
}
@media (min-width: 1024px) {
  div[data-pogo="main"], div[data-pogo="incontent"], div[data-pogo="top"]  { min-height: 250px; }
}

/*
@media (min-width: 1366px) {
  ins.zmgad-full-width { width: 970px; max-width: 970px; margin-left: -96px; }
}
*/

@media (min-width: 1408px) {
  [data-parent-group="mini-rivers"] div.pogoPSWPR { margin-left: 0px; left: calc((88rem - 100vw - 48px) / 2); }
}